# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

*.exe
*.dll
*.csv
